<%- include('../partials/header');%>
    <div class="home">
        <h1>Registered Users</h1>
    </div>
    <ul class="users">
        <% users.forEach(user =>{%>
            <li class="user">
                <a href="/user-detail/<%= user._id %>">
                    <%= user.lastName%> &nbsp;
                        <%= user.firstName%>
                </a>
            </li>
            <%})%>
    </ul>
    </div>
    <%- include('../partials/footer');%>