<%- include('../partials/header');%>
    <div class="details">
        <h1> User</h1>
    </div>
    <ul class="user-detail">

        <li class="user name">
            <span>name : <%=user.name %></span>
        </li>
        <li class="user email">
            <span>email : <%=user.email %></span>
        </li>
        <li class="user age">
            <span>age: <%=user.age%></span>
        </li>

    </ul>
    </div>

    <%- include('../partials/footer');%>